config/database.yml
*~
tmp/**/*
doc/api
doc/app
doc/plugins
doc/*.dot
db/*.sqlite3
*.tmproj
*.sw?
log/*.log
public/javascripts
public/stylesheets
public/images
public/assets
Thumbs.db
public/google74606755e7fbcf5a.html
config/environment.rb
.bash_profile
